html,
body {
  height: 100%;
  margin: 0;
}
.content {
  height: 100%;
  color: var(--document-font-color);
  width: var(--document-width);
  margin: 0 auto;
  -webkit-box-shadow: -5px 0 19px 13px rgba(34, 60, 80, 0.2);
          box-shadow: -5px 0 19px 13px rgba(34, 60, 80, 0.2);
}
.workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.title {
  color: var(--primary-font-color);
  font-size: var(--font-size_3xl);
  font-weight: bold;
}
.action-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: var(--offset_s);
  border: 1px solid var(--primary-border-color);
  border-radius: var(--primary-button-border-radius);
  cursor: pointer;
  position: absolute;
  right: var(--offset_s);
}
.action-button:hover {
  background-color: var(--primary-button-hover);
}
.title,
.action-button,
.info {
  margin: var(--offset_m);
}
.workspace,
.list {
  height: 100%;
}
.list {
  padding: var(--offset_m);
  overflow-y: auto;
}
.row {
  cursor: pointer;
  -webkit-box-shadow: var(--row-shadow);
          box-shadow: var(--row-shadow);
  border-radius: var(--row-border-radius);
  padding: var(--offset_m);
  background-color: var(--document-background);
  margin-bottom: var(--offset_s);
}
.fill {
  background-color: var(--fill-backgroound);
}
.row:hover {
  background-color: var(--row-hover-background);
}
.timer {
  position: absolute;
  font-weight: 700;
  color: var(--primary-font-color);
  top: var(--offset_m);
  right: var(--offset_m);
}
.time-out {
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
  color: var(--primary-font-color);
  font-size: 24px;
  font-weight: bold;
}
.info {
  height: 40px;
}
